[submodule "lib/plugins/fksdbauth"]
	path = lib/plugins/fksdbauth
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbauth.git
[submodule "lib/plugins/fksdownloader"]
	path = lib/plugins/fksdownloader
	url = https://github.com/fykosak/dokuwiki-plugin-fksdownloader.git
[submodule "lib/plugins/fksdbexport"]
	path = lib/plugins/fksdbexport
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbexport.git
[submodule "lib/plugins/mathjax"]
	path = lib/plugins/mathjax
	url = https://github.com/liffiton/dokuwiki-plugin-mathjax.git
[submodule "lib/plugins/searchtext"]
	path = lib/plugins/searchtext
	url = https://github.com/michitux/dokuwiki-plugin-searchtext.git
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = https://github.com/cosmocode/sqlite.git
[submodule "lib/plugins/cookielaw"]
	path = lib/plugins/cookielaw
	url = https://github.com/fykosak/dokuwiki-plugin-cookielaw.git
[submodule "lib/plugins/gallery"]
	path = lib/plugins/gallery
	url = https://github.com/fykosak/dokuwiki-plugin-gallery.git
[submodule "lib/plugins/fksvlna"]
	path = lib/plugins/fksvlna
	url = https://github.com/fykosak/dokuwiki-plugin-fksvlna.git
[submodule "lib/plugins/data"]
	path = lib/plugins/data
	url = https://github.com/splitbrain/dokuwiki-plugin-data.git
[submodule "lib/plugins/datatemplate"]
	path = lib/plugins/datatemplate
	url = https://github.com/fykosak/dokuwiki-plugin-datatemplate
[submodule "lib/plugins/translatemapping"]
	path = lib/plugins/translatemapping
	url = https://github.com/fykosak/dokuwiki-plugin-translatemapping
[submodule "lib/plugins/fkstimer"]
	path = lib/plugins/fkstimer
	url = https://github.com/fykosak/dokuwiki-plugin-fkstimer
[submodule "lib/plugins/fkshelper"]
	path = lib/plugins/fkshelper
	url = https://github.com/fykosak/dokuwiki-plugin-fkshelper
[submodule "lib/plugins/redfoftplhelper"]
	path = lib/plugins/redfoftplhelper
	url = https://github.com/fykosak/dokuwiki-plugin-redfoftplhelper
[submodule "lib/tpl/redfoftpl"]
	path = lib/tpl/redfoftpl
	url = https://github.com/fykosak/dokuwiki-template-redfoftpl
[submodule "lib/plugins/social"]
	path = lib/plugins/social
	url = https://github.com/fykosak/dokuwiki-plugin-social
